<div class="backdrop backdrop--small">
  <div class="modal modal--small">
    <button class="close-btn">Х</button>
    <form class="" name="" autocomplete="on">
      <p class="create-modal__title">Створення нового гравця</p>
      <input
        class="create-modal__input"
        type="text"
        name="newUser"
        placeholder="Введіть ім'я гравця"
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
      />
      <p class="create-modal__warning">Гравець з таким ім'ям уже існує!</p>
      <div class="create-modal__btn-wrap">
        <button class="create-modal__btn">Створити</button>
        <button class="create-modal__btn">Відмінити</button>
      </div>
    </form>
  </div>
</div>
