<section>
  <div class="container">
    <div class="main__wrap">
      <div class="score">
        <div class="score__title">Рахунок</div>
        <div class="score__thumb">
          <div class="score__playerx"></div>
          <div class="scorex"></div>
        </div>
        <div class="score__thumb">
          <div class="score__player0"></div>
          <div class="score0"></div>
        </div>
      </div>
      <div class="field__wrap">
        <div class="field__thumb">
          <div class="field">
            <audio
              id="click__sound"
              src="./sound/choice-sound.mp3"
              preload="auto"
            ></audio>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
