<header>
  <div class="container">
    <div class="header__wrapper">
      <div class="header__thumb">
        <h1 class="header__logo">X/0</h1>
      </div>
      <div class="header__controls">
        <!-- <ul class="header__list">
          <li><button class="header__btn"></button></li>
          <li>
            <button class="header__btn">
              <svg class="header__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-stats">Статистика</use>
              </svg>
            </button>
          </li>
          <li>
            <button class="header__btn">
              <svg class="header__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-settings">
                  Налаштування
                </use>
              </svg>
            </button>
          </li>
        </ul> -->
        <div class="auth__wrap">
          <ul class="auth__list">
            <li class="auth__item is-hidden">
              <button class="signup-btn js-signup-btn">Реєстрація</button>
            </li>
            <li class="auth__item">
              <button class="login-btn js-login-btn">Увійти</button>
            </li>
          </ul>
          <!-- <button class="signOutBtn visually-hidden">Вийти</button> -->
        </div>
      </div>
    </div>
  </div>
</header>
