<div class="backdrop">
  <div class="statistic__modal">
    <button class="statistic__btn">Х</button>
    <table class="statistic-table">
      <caption class="statistic-table__title">
        Статистика гравців
      </caption>
      <thead>
        <tr>
          <th class="statistic-table__name">Гравець</th>
          <th class="statistic-table__win">Виграші</th>
          <th class="statistic-table__draw">Нічия</th>
          <th class="statistic-table__loss">Програші</th>
          <th class="statistic-table__total">Зіграно загалом</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="statistic-table__name">Taras</td>
          <td class="statistic-table__win">1</td>
          <td class="statistic-table__draw">2</td>
          <td class="statistic-table__loss">3</td>
          <td class="statistic-table__total">6</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
