<!-- <div class="auth-backdrop">
  <div class="logup-modal">
    <form class="auth__form" id="signup">
      <h1 class="auth-form__title">Реєстрація</h1>

      <div class="auth-form__group">
        <input
          type="email"
          name="email"
          class="auth-form__input"
          placeholder="E-mail"
        />
      </div>
      <div class="auth-form__box">
        <div class="auth-form__group">
          <input
            type="password"
            name="password"
            class="auth-form__input"
            placeholder="Пароль"
          />
          <svg class="auth-form__icon-password-shown is-hidden">
            <use href="./images/svg/sprite.svg#icon-show-password"></use>
          </svg>
          <svg class="auth-form__icon-password">
            <use href="./images/svg/sprite.svg#icon-not-show-password"></use>
          </svg>
        </div>
        <div class="auth-form__group">
          <input
            type="password"
            name="password"
            class="auth-form__input"
            placeholder="Повторіть пароль"
          />
          <svg class="auth-form__icon-password-shown is-hidden">
            <use href="./images/svg/sprite.svg#icon-show-password"></use>
          </svg>
          <svg class="auth-form__icon-password">
            <use href="./images/svg/sprite.svg#icon-not-show-password"></use>
          </svg>
        </div>
      </div>
      <div class="auth-form__wrap">
        <button class="auth-form__btn logup__btn" type="submit">
          Зареєструватися</button
        ><button
          class="auth-form__btn logup__btn login-with-google-btn"
          type="button"
        >
          Зареєструватися через Google
        </button>
      </div>
      <p class="auth-form__text">
        Вже зареєстровані?
        <a href="#" class="login-link" id="linkSigninAccount">Увійти</a>
      </p>
    </form>
  </div>
</div> -->
