<div class="backdrop">
  <div class="modal">
    <div class="select__hero">
      <span class="select__title">Виберіть гравців</span>
    </div>
    <button class="select__add">Додати нового гравця</button>
    <form class="" name="" autocomplete="off">
      <div class="select__wrap">
        <div>
          <p class="select__label">Гравець 1</p>
          <select class="select__player" id="player1" name="playerX">
            <option value="none">Виберіть гравця</option>
          </select>
        </div>
        <div>
          <p class="select__label">Гравець 2</p>
          <select class="select__player" id="player2" name="player0">
            <option value="none">Виберіть гравця</option>
          </select>
        </div>
      </div>
      <button class="start-game">Почати гру</button>
    </form>
  </div>
</div>
