.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  // cursor: url(./../images/svg/cursor/icon-pen.svg) 16 16, auto;

  width: 768px;
  // @media screen and (min-width: 320px) {
  //   width: var(--mobile);
  // }
  // @media screen and (min-width: 768px) {
  //   width: var(--tablet);
  // }
  // @media screen and (min-width: 1360px) {
  //   width: var(--desktop);
  // }
}
