.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 8, 2, 0.4);
  backdrop-filter: blur(4px);
  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  z-index: 1;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &--small {
    z-index: 10;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%) scaleY(1);
  width: 700px;
  height: 800px;
  background-color: silver;
  background-image: url(./../images/modal-bg-img.jpg);
  border-radius: 10px;
  padding: 10px;
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &--small {
    height: 350px;
    width: 500px;
    padding: 40px 50px;
  }

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -47%) scaleY(0.2);
  }
}
