.score {
  display: none;

  &--active {
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
  }
}

.score__title {
  margin-bottom: 30px;
}

.score__box {
  font-size: 32px;
  display: flex;
  gap: 50px;
}

.score__thumb {
}

.score__player1,
.score__player2 {
  color: green;
}

.score__draw {
  color: rgb(0, 0, 190);
}
