.player-modal__title {
  font-size: 32px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  margin-bottom: 60px;
}

.player-modal__wrap {
  position: relative;
  margin-bottom: 60px;
}

.player-modal__input {
  font-size: 20px;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: auto;
  outline: none;
  padding: 5px 40px 5px 10px;
  margin-bottom: 5px;
}

.player-modal__message {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  color: red;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  z-index: 20;

  &--shown {
    opacity: 1;
  }
}

.player-modal__btn-wrap {
  display: flex;
  justify-content: space-around;
}

.add-player__btn {
  @extend .btn;
  min-width: 100px;

  &:last-child {
    @extend .btn--red;
  }
}

.delete-player__select {
  @extend .select-player;
}

.delete-player__btn {
  @extend .btn;
  min-width: 100px;

  &:first-child {
    @extend .btn--red;
  }
}
