.create-player__title {
  font-size: 32px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  margin-bottom: 60px;
}

.create-player__input {
  font-size: 20px;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: auto;
  outline: none;
  padding: 5px 40px 5px 10px;
  margin-bottom: 5px;
}

.create-player__message {
  text-align: center;
  color: red;
  margin-bottom: 60px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  z-index: 20;

  &--shown {
    opacity: 1;
  }
}

.create-player__btn-wrap {
  display: flex;
  justify-content: space-around;
}

.create-player__btn {
  @extend .btn;
  min-width: 100px;

  &:first-child {
    // @extend .btn--green;
  }

  &:last-child {
    @extend .btn--red;
  }
}
