.draw__img {
  border-radius: 4px;
  margin-bottom: 15px;
}

.draw__result {
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

.draw__message {
  font-size: 28px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  margin-bottom: 20px;
}

.draw__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.draw__btn {
  @extend .btn;
  min-width: 250px;
}
