.select-player__add,
.select-player__delete {
  @extend .btn;
  min-width: 350px;
  margin-bottom: 20px;
}

.select-player__delete {
  @extend .btn;
  @extend .btn--red;
  margin-bottom: 30px;
}

.select-player__wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 90px;
}

.select-player__label {
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

.select-player__player {
  font-size: 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 2px 30px 2px 10px;
  min-width: 250px;
}

.select-player__start {
  @extend .btn;
  // @extend .btn--green;
}
