.select-mode__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.select-mode__btn {
  @extend .btn;
  height: 80px;
  min-width: 250px;
}
